

nav{

  

ul li {
    height: 8vh;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(243, 189, 90);
    gap: 40px;
  a { 
      color: black;
      font-weight: bold;
      font-size: 20px;
      &:hover{
          color: blue;
      }
  }


}
}
