.texto{
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}
h3{
    margin-top: 20px;
}
p{
    margin-top: 20px;
    display: flex;
    flex-direction:column;
    

}