<div class="texto">
  <h1>Bienvenido a Shopéame</h1>

  <h3>¿Qué es Shopéame?</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Obcaecati ipsum id itaque culpa, dolores rerum exercitationem 
    dignissimos esse facilis alias voluptate eveniet qui,
     explicabo amet corporis odit corrupti perspiciatis saepe.
     Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Obcaecati ipsum id itaque culpa, dolores rerum exercitationem 
    dignissimos esse facilis alias voluptate eveniet qui,
     explicabo amet corporis odit corrupti perspiciatis saepe.
     Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Obcaecati ipsum id itaque culpa, dolores rerum exercitationem 
    dignissimos esse facilis alias voluptate eveniet qui,
     explicabo amet corporis odit corrupti perspiciatis saepe.
  </p>

  <h3>¿Para qué puedo usar Shopéame?</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Obcaecati ipsum id itaque culpa, dolores rerum exercitationem 
    dignissimos esse facilis alias voluptate eveniet qui,
     explicabo amet corporis odit corrupti perspiciatis saepe.
  </p>
  <h3>¿Quiénes hacemos Shpéame?</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Obcaecati ipsum id itaque culpa, dolores rerum exercitationem 
    dignissimos esse facilis alias voluptate eveniet qui,
     explicabo amet corporis odit corrupti perspiciatis saepe.
  </p>
  <h3>¿Es seguro usar Shopéame?</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Obcaecati ipsum id itaque culpa, dolores rerum exercitationem 
    dignissimos esse facilis alias voluptate eveniet qui,
     explicabo amet corporis odit corrupti perspiciatis saepe.
  </p>
</div>
